$primary-color : #0a1045;
$secondary-color: #ffe9f3;
$tertiary-color: #c4f5fc;
$box-shadow-color: #8f8f8f;
$star-color: #f9dc5c;
$unselected-color: #bbbbbb;
$heart-color: #fb6376;
$plus-sign-color: #3a7d44;
$base-transition: all 0.4s ease;
$full: 100%;
$partial: 45%;