@use 'variables' as *;
#page-home-div{
    display: flex;
    flex-direction: column;
}
#search-form{
    padding: 1.5rem;
    & input{
        margin-right: 8px;
        width: 200px;
        background-color: $tertiary-color;
        border: 1px solid $primary-color;
    }
    & button{
        background-color:$tertiary-color; 
        color: 'black'; 
        font-size:12px;
        height: 2rem; 
        border: 2px solid $primary-color;
        border-radius: 1rem;

    }
}  

@media (min-width: 640px) {
    #page-home-div{
        display: flex;
        flex-direction: row;
    }
}