@use 'variables' as *;

img {
    max-width: 80%;
    margin: 0;
}

.rating-label {
    max-width: 15%;
}

.line {
    width: 95%;
    height: 0.25rem;
    background-color: $primary-color;
    margin: 1rem auto;
}

#movie-details-wrapper {
    display: flex;
    flex-direction: column;

    .favorite-watchlist {
        display: flex;
        justify-content: space-evenly;

        button {
            width: 50%;
            height: 15%;
            display: flex;
            justify-content: center;
            padding-left: 3px;
            padding-top: 12px;
            background-color: transparent;
            font-size: 10pt;

            &:hover {
                border: 1px solid $primary-color;
            }

            p.favorite-label {
                margin: 0.25rem 1rem;
            }

            p.watch-list-label {
                margin: 0.25rem 1rem;
            }

            .heart, .plus-sign {
                position: relative;
                width: 20px;
                height: 18px;
            }

            .heart:before, .heart:after {
                position: absolute;
                content: '';
                left: 5px;
                top: 0;
                width: 10.4px;
                height: 16px;
                background-color: red;
                border-radius: 5px 5px 0 0;
                transform: rotate(-50deg);
                transform-origin: 50% 75%;
            }

            .heart:after {
                transform: rotate(50deg);
                transform-origin: 50% 75%;
            }

            .plus-sign:before, .plus-sign:after {
                position: absolute;
                content: '';
                width: 20px;
                height: 5px;
                background-color: green;
            }

            .plus-sign:before {
                transform: translate(0, 10px);
            }

            .plus-sign:after {
                transform: rotate(90deg) translate(10px, 0);
            }
        }
    }

    .release-container {
        display: flex;
        justify-content: center;

        &>* {
            max-width: 30%;
        }
    }

    .rating-container {
        display: flex;
        justify-content: center;

        .star-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;

            .star {
                margin: 5px 0;
                position: relative;
                display: block;
                width: 0px;
                height: 0px;
                border-right: 10px solid transparent;
                border-bottom: 7px solid $star-color;
                border-left: 10px solid transparent;
                transform: rotate(35deg);
            }

            .star:before {
                border-bottom: 8px solid $star-color;
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
                position: absolute;
                height: 0;
                width: 0;
                top: -4.5px;
                left: -6.5px;
                display: block;
                content: '';
                transform: rotate(-35deg);
            }

            .star:after {
                position: absolute;
                display: block;
                top: 0.3px;
                left: -10.5px;
                width: 0px;
                height: 0px;
                border-right: 10px solid transparent;
                border-bottom: 7px solid $star-color;
                border-left: 10px solid transparent;
                transform: rotate(-70deg);
                content: '';
            }
        }
    }
}

@media (min-width: 768px) {
    #movie-details-wrapper {
        flex-direction: row;
    }
}

@media (min-width: 960px) {
    #details-wrapper {
        margin-top: 7rem;
    }
}