// Styling for movie list container
#movie-list {
    display: grid;
    grid-template-columns: 100%; // Initially one column for smaller screens
}

// Media query for screens larger than 820px
@media (min-width: 820px) {
    #movie-list {
        grid-template-columns: 50% 50%; // Two columns for screens larger than 820px
    }
}

// Media query for screens larger than 1200px
@media (min-width: 1200px) {
    #movie-list {
        grid-template-columns: 33% 34% 33%; // Three columns for screens larger than 1200px
    }
}