:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  color: #0a1045;
  background-color: #f3f5f7;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #6783a1;
  text-decoration: inherit;
}
a:hover {
  color: #96bccf;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f3f5f7;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #6783a1;
}

div {
  width: 100%;
}

#page-home {
  margin-top: 2.5rem;
}

#page-home-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#category-select-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#categorySelect {
  margin: 0 0.375rem;
  background-color: #c4f5fc;
  color: #0a1045;
  font-family: 'Lato', sans-serif;
}

#categorySelect:hover {
  background-color: #bbbbbb;
}

#search-form {
  padding-top: 1rem;
}

#search-form > form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#search {
  margin-right: 0.5rem;
  width: 10.5rem;
  background-color: #c4f5fc;
  border: 1px solid #0a1045;
  font-family: 'Lato', sans-serif;
  height: 1.2rem;
}

#search-button {
  background-color: #c4f5fc;
  color: #0a1045;
  font-size: 12px;
  height: 2rem;
  border: 2px solid #0a1045;
  border-radius: 1rem;
  margin-left: 0.375rem;
}

#message, #home-message {
  height: 1rem;
}

@media (min-width: 640px) {
  #page-home-div {
    flex-direction: row;
  }

  #page-home-div > div {
    width: 40%;
  }

  #search-form {
    padding-top: 0;
  }

  #home-message {
    margin: 1rem 0 1.5rem 0;
  }
}

@media (min-width: 960px) {
  #page-home {
    margin-top: 7.5rem;
  }

  #page-home-div {
    padding-top: 1rem;
  }
}
