:root {
  font-family: Arimo, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  color-scheme: light dark;
  color: #ffe9f3;
  background-color: #0a1045;
  text-align: center;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  font-weight: 500;
  color: #6783a1;
  text-decoration: inherit;
}
a:hover {
  color: #96bccf;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #6783a1;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

div {
  width: 100%;
}

#category-select-form {
  padding: 1.5rem;
}

#categorySelect {
  margin: 0 1rem;
  background-color: #c4f5fc;
  color: #0a1045;
}

#categorySelect:hover {
  background-color: #bbbbbb;
}

@media (min-width: 960px) {
  #page-home {
    margin-top: 7rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0a1045;
    background-color: #ffe9f3;
  }
  a {
    color: #96bccf;
  }
  a:hover {
    color: #6783a1;
  }
  button {
    background-color: #ffe9f3;
  }
}