footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  justify-content: center;
  margin-bottom: 10px;
  gap: 0px;
  max-width: 100vw;
}
footer p {
  margin-bottom: 0;
}
footer a {
  text-decoration: none;
  margin-top: 0.5rem;
  color: #0a1045;
}
footer a:hover {
  text-decoration: none;
  color: #3a7d44;
}
footer a:hover #footer-github-icon {
  filter: brightness(0) saturate(100%) invert(27%) sepia(95%) saturate(4077%) hue-rotate(94deg) brightness(91%) contrast(87%);
}
footer #footer-github-icon {
  margin-left: 5px;
  height: 1.2rem;
}