#movie-list {
  display: grid;
  grid-template-columns: 100%;
}

@media (min-width: 820px) {
  #movie-list {
    grid-template-columns: 50% 50%;
  }
}
@media (min-width: 1200px) {
  #movie-list {
    grid-template-columns: 33% 34% 33%;
  }
}