img {
  max-width: 80%;
  margin: 0;
}

.rating-label {
  max-width: 15%;
}

.line {
  width: 95%;
  height: 0.125rem;
  background-color: #0a1045;
  margin: 1rem auto;
}

#movie-details-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
#movie-details-wrapper .favorite-watchlist {
  display: flex;
  justify-content: space-evenly;
}
#movie-details-wrapper .favorite-watchlist button {
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: center;
  padding-left: 3px;
  padding-top: 12px;
  background-color: transparent;
  font-size: 10pt;
}
#movie-details-wrapper .favorite-watchlist button:hover {
  border: 1px solid #0a1045;
}
#movie-details-wrapper .favorite-watchlist button p.favorite-label {
  margin: 0.25rem 1rem;
}
#movie-details-wrapper .favorite-watchlist button p.watch-list-label {
  margin: 0.25rem 1rem;
}
#movie-details-wrapper .favorite-watchlist button .heart {
  position: relative;
  width: 20px;
  height: 18px;
}
#movie-details-wrapper .favorite-watchlist button .heart:before, #movie-details-wrapper .favorite-watchlist button .heart:after {
  position: absolute;
  content: "";
  left: 5px;
  top: 0;
  width: 10.4px;
  height: 16px;
  background-color: #bbbbbb;
  border-radius: 5px 5px 0 0;
  transform: rotate(-50deg);
  transform-origin: 50% 75%;
}
#movie-details-wrapper .favorite-watchlist button .heart:after {
  transform: rotate(50deg);
}
#movie-details-wrapper .favorite-watchlist button .heart.favorite:before, #movie-details-wrapper .favorite-watchlist button .heart.favorite:after {
  background-color: #fb6376;
}
#movie-details-wrapper .favorite-watchlist button .plus-sign {
  position: relative;
  width: 20px;
  height: 18px;
  padding-bottom: 0.5rem;
}
#movie-details-wrapper .favorite-watchlist button .plus-sign:before, #movie-details-wrapper .favorite-watchlist button .plus-sign:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 5px;
  background-color: #bbbbbb;
}
#movie-details-wrapper .favorite-watchlist button .plus-sign:before {
  transform: translate(0, 10px);
}
#movie-details-wrapper .favorite-watchlist button .plus-sign:after {
  transform: rotate(90deg) translate(10px, 0);
}
#movie-details-wrapper .favorite-watchlist button .plus-sign.watchlist:before, #movie-details-wrapper .favorite-watchlist button .plus-sign.watchlist:after {
  background-color: #3a7d44;
}
#movie-details-wrapper .release-rating {
  display: grid;
  grid-template-columns: 30% 40% 10%;
  grid-template-rows: 1fr 1fr;
  margin-left: 10%;
}
#movie-details-wrapper .release-rating .release-date-label {
  text-align: left;
}
#movie-details-wrapper .release-rating .release-date-data {
  text-align: right;
}
#movie-details-wrapper .release-rating .rating-label {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#movie-details-wrapper .release-rating .star-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
#movie-details-wrapper .release-rating .star-container .star {
  margin: 5px 0;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #f9dc5c;
  border-left: 10px solid transparent;
  transform: rotate(35deg);
}
#movie-details-wrapper .release-rating .star-container .star:before {
  border-bottom: 8px solid #f9dc5c;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -4.5px;
  left: -6.5px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
#movie-details-wrapper .release-rating .star-container .star:after {
  position: absolute;
  display: block;
  top: 0.3px;
  left: -10.5px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #f9dc5c;
  border-left: 10px solid transparent;
  transform: rotate(-70deg);
  content: "";
}
#movie-details-wrapper .release-rating .rating-percentage {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: left;
  padding-left: 1rem;
}
#movie-details-wrapper .release-container {
  display: flex;
  justify-content: center;
}
#movie-details-wrapper .release-container > * {
  max-width: 30%;
}

@media (min-width: 768px) {
  #movie-details-wrapper {
    flex-direction: row;
  }
  #movie-details-wrapper #movie-details-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #movie-details-wrapper #movie-details-data button {
    height: 100%;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 960px) {
  #details-wrapper {
    margin-top: 7rem;
  }
}